BASE_URL=
UPLOAD_URL=
RECAPTCHA_SITE_KEY=
STRIPE_PUBLISABLE_KEY = 
PORT=3000
STRIPE_ACCOUNT = ''
STRIPE_VERSION = ''
FRONT_END_URL = ''
STRIPE_PUBLIC = ''
THANKYOU_PAGE = ''
BACKEND_API = ''
CRISP_WEBSITE_ID = ''