PORT=3072
BASE_URL=https://dev.api.mesocross.connectgeneration.app/api/
UPLOAD_URL=https://dev.admin.mesosystem.connectgeneration.app/uploads/
FRONT_END_URL=https://dev.mesocross.connectgeneration.app/
BACKEND_API=https://dev.api.mesocross.connectgeneration.app/api
THANKYOU_PAGE='${FRONT_END_URL}thankyou'

RECAPTCHA_SITE_KEY=""

STRIPE_PUBLISABLE_KEY=''
STRIPE_PUBLIC=""
STRIPE_ACCOUNT=''
STRIPE_VERSION=''

PAYPAL_CLIENT_ID=""

CRISP_WEBSITE_ID=''


