$base-color: #000000;
$font-family: "Arial";

.main-banner {
  background: url("assets/img/banne-bg.png") no-repeat right bottom;
  min-height: 528px;
  display: flex;
  align-items: center;
  background-size: cover;

  .banner-text {
    font: normal normal normal 40px $font-family;
    letter-spacing: 2px;

    button {
      font: normal normal normal 14px $font-family;
      letter-spacing: 1.7px;
      color: #231F20;
      max-width: 216px;
      width: 100%;
      height: 48px;
    }
  }
}

.new_release {
  background: $base-color;

  h2 {
    font: normal normal normal 30px $font-family;
    letter-spacing: 1.5px;
    color: #FFFFFF;
  }

  .each-product {
    h6 {
      font: normal normal normal 20px $font-family;
      color: #FFFFFF;
    }

    p {
      font: normal normal normal 16px $font-family;
      color: #FFFFFF;
      opacity: .5;
    }
  }
}

.high-light-product {
  background: $base-color;

  p {
    font: normal normal normal 16px Arial;
    opacity: .8;
    color: white;
    max-width: 500px;
    margin: auto;
    line-height: 25px;
    letter-spacing: 1.5px
  }

  h3 {
    font-size: 30px;
    color: #fff;
  }

  button {
    background: transparent;
    border: 1px solid white;
    border-radius: 0;
    color: white;
    padding: 12px;
    cursor: pointer;
  }
}

.banner-list {
  background: $base-color;

  .row {
    min-height: 56px;
    border-top: 1px solid #424242;
    border-bottom: 1px solid #424242;

    .col-md-4 {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  .side-border {
    border-right: 1px solid #424242;
    border-left: 1px solid #424242;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.select-footer {
  select {
    border: 1px solid #bbbbbb;
    padding: 0 50px 0 10px;
    border-radius: 4px;
    background: url('assets/img/drop-arrow.svg') no-repeat 95%;
    width: 100%;
    margin-top: 10px;
  }

  h2 {
    font: normal normal normal 20px $font-family;
    color: #231F20;
  }
}

.footer-main {
  width: 90% !important;
}

.product-page {
  background: $base-color;
  .product-banner {
    .banner-text h1 {
      font: normal normal normal 50px $font-family;
      letter-spacing: 2.5px;
      color: #FFFFFF;
    }
  }
}

.best_seller {
  .title {
    text-align: center;
    font: normal normal normal 30px $font-family;
    letter-spacing: 1.5px;
    color: #FFFFFF;
  }
  .product-title {
    font-size: 20px;
  }
}
