html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  vertical-align: baseline;
}
b, strong {font-weight: 700;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.cursor-pointer{
  cursor: pointer;
}

*, *:focus{outline:none;}
a, a:hover{text-decoration:none;color: #25282A}
button, a{cursor: pointer;}
button:focus{outline: none;}
button, input, select, textarea { resize: none; border: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }
input[type="checkbox"]{-webkit-appearance: auto; -moz-appearance: auto; -ms-appearance: auto; -o-appearance: auto; appearance: auto;}
input[type=submit], select { cursor: pointer }
img { max-width: 100%; vertical-align: middle; border-radius: 0 }
::-webkit-input-placeholder {color:#B9B9B9;}
:-moz-placeholder {color:#B9B9B9;opacity:1;}
::-moz-placeholder {color:#B9B9B9;opacity:1;}
:-ms-input-placeholder {color:#B9B9B9;}
body{color: #fff;font-family: 'Arquitecta', sans-serif; font-weight: 300;}
h1, h2, h3, h4, h5, h6{margin:0;padding:0}
p{ font-weight: 300;font-family: 'Arquitecta', sans-serif;}
.trans{transition:300ms all;-webkit-transition:300ms all;}
/*Custom Checkbox*/
/*Custom Checkbox*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #25282A;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #25282A;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

form.radio_btn {
  filter: invert(1);
 }
.filter-list [type="radio"]:checked + label:after,
.filter-list [type="radio"]:not(:checked) + label:after{
  background: #000 !important;
}
.filter-list .custom-control-input:checked ~ .custom-control-label::before{
  border-color: #000 !important;
}
/*Custom Checkbox*/
.errors{display: inline-block; font-size: .85rem; color: red;}
.container {max-width: 1400px; }
.header{margin: 20px 0 20px;display: block;}
.brand img{width: 46px; height: 54px;}
nav ul li{display: inline-block;}
nav ul li a{padding: 15px 15px;display: inline-block;color: #fff;font-size: 16px;}
.user{text-align: right;margin-top: 14px;}
.user ul li{display: inline-block;margin-left: 24px;}
.user ul li img{width: 24px; height: 24px;}
.lang-modal .modal-header{padding: 0;}
.lang-modal .lang_box{ border-radius: 4px;padding: 33px; z-index: 9;text-align: left;}
.lang-modal button.close{position: absolute;width: 20px; height: 20px; top: 15px;right: 15px;}
.lang-modal .lang_box h3{ font-size: 20px; font-weight: 500;margin-bottom: 30px; margin-top:30px;display: block;text-align: center;}
.lang-modal .lang_box p{margin-bottom: 15px;}
.lang-modal .lang_box p span{font-size: 16px; font-weight: 500;display:block;margin-bottom: 5px;}
.lang-modal .lang_box p input{border: 1px solid #7070705C; border-radius: 4px; width: 100%;padding: 11px;background: url('../img/search.svg'); background-repeat: no-repeat;background-position: 96% center; background-size: 12px;}
/* #lang .lang_box p select{border: 1px solid #7070705C; border-radius: 4px; width: 100%;padding: 11px;background: url('../img/arrow-down.svg'); background-repeat: no-repeat;background-position: 96% center; background-size: 16px;} */
/* #lang .lang_box button{background: #fff; color: #fff; font-size: 14px; border-radius: 4px; width: 100%; margin-top: 20px; padding: 10px; border: none;} */
.lang-modal .modal-body{ padding: 0px !important; }
/* #lang .modal-content { border-radius: 0px !important;} */
footer{float: left; width: 100%;}
footer .newsletter{background: #000; padding: 80px; text-align: center;float: left; width: 100%;}
@media (max-width:991px) {
  footer .newsletter{padding: 30px;}
}
footer .newsletter h3{font-size: 34px; color: #fff;margin-bottom: 30px;}

footer .footer_logo{text-align: center;padding: 100px 0;float: left; width: 100%;}
footer .footer_links{float: left; width: 100%;}
footer .footer_links h2{margin-bottom: 15px;font: normal normal normal 16px/21px Arquitecta;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 0.6;}
footer .footer_links ul li a{
  margin-bottom: 5px; display: inline-block; font: normal normal normal 16px/30px Arquitecta;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.6;
}
footer .footer_links ul li a:hover{
  text-decoration: none;
  opacity: 1;
}
footer .footer_bottom{float:left; width: 100%;}
footer .footer_bottom{margin: 80px 0 20px;}
footer .f_links ul {text-align: center;}
footer .f_links ul li {display: inline-block;margin: 0 15px;}
footer .f_links ul li a{font-size: 16px;color: #fff; display: inline-block;line-height: 32px;}
footer .footer_bottom .copyright {
  margin-top: 5px;
  color: #231F20;
  opacity: 0.6;
}.social_links{text-align: right;}
.social_links ul li{display: inline-block;margin-right: 15px;}

.dropdown-item.active{color: inherit;  text-decoration: none;  background-color: inherit;}
.btn-theme-dark:hover{color: #fff;}
/*Login Register*/
.page-space{
  margin: 50px 0;
}
.welcome{text-align: center;}
/* .welcome h1{font-size: 40px; font-weight: 500;} */
.welcome .nav-tabs {width: 400px; margin: 50px auto 0;}
.welcome .nav-tabs .nav-link{line-height: 30px;text-transform: uppercase;font-weight: 500; font-size: 16px;  opacity: 0.6;}
.welcome .nav-tabs .nav-link.active{
  background: transparent;
    border: 0;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    opacity: 1;
    font-weight: bold;
}
/*.welcome .nav-tabs .nav-link:hover{border:transparent;}*/
.welcome .nav-tabs .nav-item{width: 50%; text-align: center;}
.welcome .tab-content{margin: 50px auto 0;text-align: left;max-width: 400px;}
/* .welcome .form-group label, .form-group p{font-size: 16px; color: #fff;font-weight: 500;} */
/* .welcome .form-group p a{font-size: 16px; color: #fff;font-weight: 500;text-decoration:underline;} */
/* .welcome .form-control{border: 1px solid #7070705C; border-radius: 4px; width: 100%;} */
.welcome form button.btn-primary{display: block; width: 100%; margin-top: 1rem;}
/* .welcome form button.btn-primary:hover{background:#25282A ;} */
#register #selectcountry, #register #selectposition,#register #industry_sector{background-image: url('../img/drop-arrow.svg'); background-repeat: no-repeat; background-position: 96% center;}
#register button.continue i{margin-left: 15px; font-size: 25px; vertical-align: middle; opacity: 0.7;}
#register .form-group .eye{bottom: 32px;}
.form-group{position: relative;}
.form-group .eye {
  position: absolute;
  right: 15px;
  bottom: 12px;
}
.back i{font-size: 25px;}

.steps{text-align: center;margin-bottom: 50px;}
.steps .colmn{display: inline-block;width: 93px;margin: 0 15px; position: relative;}
.steps .colmn:after{position: absolute;background: #25282A0004D; content: ''; width: 44px; height: 1px; top: 20px; right: -35px;}
.steps .colmn:last-child:after{display: none; }
.steps .colmn span{display: block; background: rgba(255, 255, 255, 0.3);; border-radius: 50%;width: 42px; height: 42px; opacity: 0.4;color: #fff; text-align: center; vertical-align: middle; line-height: 42px; margin: 0 auto;}
.steps .colmn label{font-size: 14px;color: #fff; opacity: 0.3;font-weight: 500;margin-top: 7px;line-height: 16px;}
.steps .active span{opacity: 1;}
.steps .active label{color: #fff;opacity: 1;}
#register .radio_btn {margin-bottom: 50px;}
#register .radio_btn p{display: inline-block;margin-right: 50px;}
#register [type="radio"]:not(:checked) + label:before{left: 0px !important;}

/*Slider*/
.pro_slider img{width: 100%; height: 433px; object-fit: contain;}
.pro_slider{
  text-align: center;
}
.content_text {position: absolute; margin-left: 120px;width: 100%;z-index: 99;}

/* .content_text h2{font-size: 40px; font-weight: 600; color: #fff;max-width: 500px;line-height: normal;}
.content_text h3{font-size: 18px; margin: 25px 0; color: #54565A;}
.content_text a{background: #28252a; color: #fff; font-size: 12px; width: 164px; padding: 10px;border-radius: 4px; display: inline-block;text-align: center;transition:0.5s}
.content_text a:hover{background: #28252a44;} */
.slick-prev{background: url('../img/arrow-left.svg'); background-repeat: no-repeat;text-indent: -99999px; position: absolute; top: calc(50% - 17px); left: 30px;z-index: 9; width: 17px; height: 34px;cursor: pointer;}
.slick-next{background: url('../img/arrow-right.svg'); background-repeat: no-repeat;text-indent: -99999px; position: absolute; top: calc(50% - 17px); right: 30px;z-index: 9; width: 17px; height: 34px;cursor: pointer;}
.slick-dots{position: absolute; left: 0; right: 0; margin: 0 auto; text-align: center; bottom: 10px;}
.slick-dots li{display: inline-block;margin: 0 5px;background: transparent; border:1px solid #fff; border-radius: 50%; height:10px; width: 10px !important; text-indent: -9999px;}
.slick-dots li.slick-active{background: #fff;}


.slug .slick-prev{background: url('../img/arrow-left.svg') !important;
  background-repeat: no-repeat !important;
  text-indent: -99999px !important;
  position: absolute !important;
  top: calc(50% - 17px) !important;
  left: 30px !important;
  z-index: 9 !important;
  width: 40px !important;
  height: 40px !important;
  cursor: pointer !important;
  background-position: 13px 10px !important;
  background-size: 10px !important;
  border-radius: 100% !important;
  box-shadow: 0px 0px 2px 0px #bbb !important;
}
.slug .slick-next{background: url('../img/arrow-right.svg') no-repeat !important;
  text-indent: -99999px !important;
  position: absolute !important;
  top: calc(50% - 17px) !important;
  right: 30px !important;
  z-index: 9 !important;
  width: 40px !important;
  height: 40px !important;
  cursor: pointer !important;
  background-position: 15px 10px !important;
  background-size: 10px !important;
  border-radius: 100% !important;
  box-shadow: 0px 0px 2px 0px #bbb !important;}

.treatment{float:left; width: 100%; margin-top: 66px;text-align: center;}
.treatment h2{font-size: 40px; font-weight: 500;margin-bottom: 56px;}
.treatment ul {display: flex;}
.treatment ul li{width: 12.8%; }
.treatment ul li img{display: block;margin: 0 auto;}
.treatment ul li span{font-size: 16px; margin-top: 5px; display: block;}

.filter_result{margin-bottom: 80px;}
.filter_result label{ font-size: 24px;font-weight: 500;}
.filter_result .selected_filter a{color: #fff; font-size: 14px; border:1px solid #e2e6ef; text-align: center;padding: 3px 10px
; display: inline-block;}
.filter_result .selected_filter a img{width: 16px; height: 16px;}
.filter_result .sorting p{color: #fff; font-size: 14px;display: inline-block;}
.filter_result .sorting select{-webkit-appearance: auto; -moz-appearance: auto; -ms-appearance: auto; -o-appearance: auto; appearance: auto;margin-left: 30px; background: none;}
.filter_bar ul.mainUl li{background: transparent;margin-bottom: 10px;padding: 14px;}
.filter_bar ul.mainUl li a{display:block; position: relative;font-weight: 500;}
.filter_bar ul.mainUl li a:after{display: none;}
.filter_bar ul.mainUl > li > a.arrowUp:after{ transform: rotate(-180deg ); right: 10px; top: -10px;}
.filter_bar ul.secondUl > li{padding: 0px 0px;  margin: 10px 10px 0px;}
.filter_bar ul.secondUl > li:last-child{border-bottom: 0;}
.filter_bar ul.secondUl > li > a{padding: 0; margin-bottom: 10px;}
.filter_bar ul.secondUl > li > a:after{top: 9px; right: -10px;}
.filter_bar ul.secondUl > li > a.arrowUp:after{ transform: rotate(-180deg ); right: 0px; top: -7px;}
.filter_bar .filter_list{margin-top: 10px;}
    .control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #7A7A7A;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 5px;
  left: 0;
  height: 8px;
  width: 8px;
  background: #B5B5B5;
  transform: rotate(45deg);
}
.control input:checked ~ .control__indicator {
  background: #000;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #000;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.product_box{position: relative;margin-bottom: 20px;}
.product_box a{position: absolute;top: 0; right: 0; height: 100%; width: 100%;}
/* .img_box{width: 100%;height: 427px;}
.img_box img{width: 100%; height: 100%; object-fit: contain;transition: 0.6s;transform: scale(1.0);}
.content_box{margin-top: 15px;text-align: center;}
.content_box label{color: #54565A; font-size: 18px; font-weight: 500;}
.content_box p{color: #54565A; font-size: 16px; font-weight: 300;margin:5px 0;}
.content_box span{color: #54565A; font-size: 14px; } */
/* .img_box img:hover {transform: scale(1.1);} */
.wishicon{width: 36px; height: 36px;}
@media (max-width:767px) {
  .wishicon{width: 24px; height: 24px;}
}
.view_more{text-align: center;display:block;width: 100%; margin: 20px 0;}
.view_more a{font-size: 16px;padding: 10px; width: 224px; display: inline-block; border: 1px solid #54565A; border-radius: 4px;}

.recommended{background: url('../img/reco.webp'); background-repeat: no-repeat;width: 100%; height: 335px; background-size: 100%;padding: 80px 0;margin-top: 60px; margin-top: 40px; width: 100%;}
.recommended h2{font-size: 40px; color: #FFFFFF; font-weight: 500;}
.recommended p{font-size: 16px; color: #FFFFFF;    margin: 30px 0;}
.recommended a{font-size: 16px;padding: 10px; width: 224px; display: inline-block; border: 1px solid #54565A; border-radius: 4px;text-align: center;}
.prod_detail_box .prod_desc{position: relative;     max-width: 320px; margin: 0 auto;}
.prod_detail_box .prod_desc .fav{position: absolute;right: 0; top: 70px; width: 36px; height: 36px;}
.prod_detail_box .prod_desc h1{color: #FFFFFF;font: normal normal 900 44px/60px Arquitecta;
  margin-bottom: 10px;}
  .prod_detail_box .prod_desc h1:after{
    content: "";
    width: 62px;
    height: 1px;
    background: #FFF;
    display: block;
    margin: 1rem auto;
  }
.prod_detail_box .prod_desc label{color: #FFFFFF;font-size: 16px; margin-bottom: 10px;display:block;}
.prod_detail_box .prod_desc span{color: #FFFFFF;font-size: 30px; margin-bottom: 20px;display:block;}
.prod_detail_box .prod_desc p {
  margin-bottom: 20px;
  display: block;
  font: normal normal 300 24px/30px Arquitecta;

  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}.prod_detail_box .prod_desc .size span{display: inline-block;font-size: 16px; font-weight: 500;margin-right: 3px;margin-bottom: 0;}
.prod_detail_box .prod_desc .size p{font-size: 14px;margin-bottom: 10px;}
/* .prod_detail_box .prod_desc .size select{border: 1px solid #FFFFFF; padding: 10px 50px 10px 10px; border-radius: 4px;background: url('../img/drop-arrow.svg') 90%;background-repeat: no-repeat;width: auto; margin-top: 10px; text-align: center;} */
.prod_detail_box .prod_desc .size .size_box {float: left; width: 100%;}
.prod_detail_box .prod_desc .size .size_box ul li{  text-align: center;
  margin-right: 15px;  margin-bottom: 15px; text-transform: uppercase;}
/* .prod_detail_box .prod_desc .size .size_box ul li.active{border: 1px solid #FFFFFF;} */
.prod_detail_box .prod_desc .size .size_box ul li a{padding: 11px;display:inline-block;}
.prod_detail_box .prod_desc .add_cart{margin-top: 30px;float:left; width: 100%;}
.prod_detail_box .prod_desc .add_cart span{color: #E60909; font-size: 14px;margin-bottom: 0;font-weight: 500;margin-bottom: 5px;}
/* .prod_detail_box .prod_desc .add_cart a{font-size: 14px;color: #fff; background: #FFFFFF; width: 450px; padding: 12px; text-align: center;border-radius: 4px; display: inline-block;} */
.prod_detail_box .prod_desc .collections{margin-top: 30px;float:left; width: 100%;}
.prod_detail_box .prod_desc .collections h3{display: inline-block;font-size: 16px; font-weight: 500;margin-right: 3px;margin-bottom: 10px;display:block;}
.prod_detail_box .prod_desc .collections li{height: 94px;width: 94px;border: 1px solid #FFFFFF;border-radius: 4px; float: left;margin-right: 20px;  margin-bottom: 20px;}
.prod_detail_box .prod_desc .collections li img{width: 100%;height:100%;}

.prod_detail_box .prod_desc .complementry{margin-top: 30px;float:left; width: 100%;}
.prod_detail_box .prod_desc .complementry h3{display: inline-block;font-size: 16px; font-weight: 500;margin-right: 3px;margin-bottom: 10px;display:block;}
.prod_detail_box .prod_desc .complementry li{height: 94px;width: 94px;border: 1px solid #FFFFFF;border-radius: 4px;float: left;margin-right: 20px;  margin-bottom: 20px;}
.prod_detail_box .prod_desc .complementry li img{width: 100%;height:100%; border-radius: 5px;}
.product_info{margin-top: 50px;}
/* .nav-tabs .nav-link{color: #54565A; font-size: 20px;margin-right: 30px;text-align: center;border:none;}
.nav-tabs .nav-link.active{border:0;border-bottom:2px solid #fff;color:#fff; font-weight: 500;}
.nav-tabs .nav-link:hover{border-bottom:2px solid #fff;border-top: 0;border-right: 0; border-left: 0;} */
.tab-content{margin-top: 30px;}


/*Document course*/

.product-image img{
  height: 430px;
  object-fit: contain;
}
.bg-course{background: #f5f5f5;}
.course_box {background: #fff;}
.course_box .img_box{width: 100%; height: 186px;}
.course_box .content_box{text-align: left;padding: 0 15px 15px; margin-bottom: 20px;}
.course_box .content_box label{font-size: 14px; color: #54565A;}
.course_box .content_box h2{font-size: 24px;}
.course_box .content_box p{font-size: 16px; color: #fff;font-weight: 500; line-height: normal;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.course_box .content_box a{color: #fff; font-weight: 500; font-size: 14px; border: 1px solid #fff; width: 150px; padding:10px 10px; text-align: center;border-radius: 4px;display: inline-block;margin-top: 10px;}

/*Search*/
.search {
  float: left;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background: #fff;
  top: 0;
  height: 100vh;
  overflow: auto;
  right: 0;
  max-width: 400px;
  padding: 1.5rem;
}
.search .nav-tabs{width: 92%;}.search .nav-tabs{width: 92%;}
.search .tab-content{margin-top: 10px;}
.search_bar input {
  border: none !important;
  border-bottom: 1px solid #868686 !important;
  background-color: transparent !important;
  color: #000 !important;
  border-radius: 0;
  padding: .5rem 0 !important;
}
.search_bar img{float: right; margin-top: 10px;}
.search_tabs .best_seller{margin-top: 0;}
.search .results{padding: 15px 0; margin-top: 20px;}
.tab_bg{background: #f1f1f1;}
.training_tab .course_box .content_box{padding: 0;}
.training_tab .course_box .content_box span{font-size: 24px; color: #fff; font-weight: 500; line-height: normal; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.training_tab .course_box .content_box p{color: #54565A; font-size: 16px; margin-bottom: 10px; display: block; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;line-height: 25px;}

.event_tab .event_box{border: 1px solid #D4D4D4;padding: 24px;margin-bottom: 20px;}
.event_tab .event_box h2{font-size: 30px; color: #fff;font-weight: 500;}
.event_tab .event_box .publish{color: #7A7A7A;font-size: 16px;margin-top: 10px;}
.event_tab .event_box .add_action{margin-top: 20px;}
.event_tab .event_box .add_action button{border-radius: 4px;border: 1px solid #fff; color: #fff;font-size:16px;padding: 11px 0; background: #fff;width: 174px;font-weight: 500; cursor: pointer;}
.event_tab .event_box .add_action a{color: #fff;font-size:16px;font-weight: 500; margin-left: 50px;text-decoration: underline;}
.document_tab .course_box .content_box{padding: 0;}
.document_tab .course_box .content_box a, .blog_tab .course_box .content_box a{border: none; display: block; text-align: left; padding: 0; font-weight: 500; text-decoration: underline;}

/*Wishlist*/
.wishlist .prod_box {position: relative;display: flex;flex-direction: column;align-items: center;}
.wishlist .prod_box .close{position: absolute;width: 20px; height: 20px;top: 0; right: 0;}
.wishlist .prod_box img{width: 332px; height: 410px; object-fit: cover;}
.wishlist .prod_box .desc_box{text-align: center;margin-top: 15px;}
.wishlist .prod_box .desc_box > a{font-size: 18px; font-weight: 500;}
.wishlist .prod_box .desc_box p{font-size: 16px;color: #fff;margin: 5px 0;}
.wishlist .prod_box .desc_box span{font-size: 14px;color: #fff;}

.without-card button{float: right;  width: 200px; background:#25282A;color: #fff;margin-top: 3px; margin-right:20px;}
.addcard{width: 100%;}
.addcard label{padding-left: 55px !important;margin-top:5px;}
.addcard label img{width: 40px;  margin-right: 10px;}
.addcard label p{display: inline-block;}
/*customize treatment*/

.customize_treatment{float: left; width: 100%; text-align: center; margin: 100px 0;}
.customize_treatment h2{font-size: 34px;font-weight: 500;}
.customize_treatment p{margin: 36px auto 36px;max-width: 500px; color: rgba(255, 255, 255, 0.80); font-weight: 300;font-size: 16px;}
.customize_treatment a{border: 1px solid #fff; padding: 10px; border-radius: 4px; width: 164px; display: inline-block;}

/*Quiz*/
.quiz{float: left; width: 100%; text-align: center; margin: 100px 0;}
.quiz h3{color: #fff; font-size: 16px; }
.quiz ul{text-align: center;margin: 20px 0 ;}
.quiz ul li{width: 60px; border: 1px solid #fff; display: inline-block; opacity: 0.12;}
.quiz ul li.active{opacity: 1;}
.quiz h2{font-size: 34px; font-weight: 500;}
.quiz span{font-size: 16px;}
.quiz .options{margin-top: 25px;}
.quiz .options p a{text-decoration: none; text-transform: capitalize;font-size: 16px; font-weight: 500; text-align: center;width: 448px;padding: 11px;border:1px solid #fff;margin: 0 auto 15px;border-radius: 4px;display: inline-block;}
.quiz .options p a:hover, .quiz .options p a.active{background-color:#fff; color: #000; }
.quiz .act_btn{margin-top: 50px;}
.quiz .act_btn a.prev{font-size: 16px; font-weight: 500; text-align: center;border:1px solid #fff;border-radius: 4px;width: 164px;
    padding: 10px; display: inline-block; margin: 0 15px;}
.quiz .act_btn a.next{font-size: 16px; font-weight: 500; text-align: center;border:1px solid #fff;border-radius: 4px;width: 164px;
    padding: 10px; display: inline-block; background-color: #fff; color: #000;}

/* Shipping details */
.top-help-text {position: absolute; top: 15px; right: 10%}
.top-help-text p {font: normal normal 600 18px Arquitecta;letter-spacing: 0px;color: #25282A;}
.top-help-text span {font: normal normal normal 18px Arquitecta;letter-spacing: 0px;color: #25282A;}
.shipping-tab .nav-link span {width: 32px;height: 32px; position: relative; z-index: 1; margin-bottom: 15px; color: #A7A5A5;
}
.shipping-tab .nav-link.active span {color: #fff;}
.shipping-tab .nav-link span::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  border: 1px solid #A7A5A5;
  z-index: -1;
}
.shipping-tab .nav-link.active span::before{
  background-color: #000;
  border-color: #000000;
}
.shipping-tab .nav-link p {font: normal normal normal 16px Arquitecta;letter-spacing: 0px;color: #231F20; opacity: 0.4;}
.shipping-tab .nav-link.active p {font: normal normal normal 16px Arquitecta;letter-spacing: 0px;color: #231F20; opacity: 1; font-weight: bold;}

.shipping-tab .nav-link .div {background: #A7A5A5; height: 1px; width: 150px}
.select-text {
  font: normal normal normal 16px Arquitecta;
  letter-spacing: 0px;
  color: #25282A;
  text-transform: uppercase;
}
.address-radio {width: 100%; border: 1px solid #25282A; background-color: #25282A; padding: 20px 0; border-radius: 4px; display: flex !important}
.shipping input[type="radio"]:checked + .address-radio {border-color: #25282A;}
.address-radio {min-height: 100px;}
.shipping [type="radio"]:checked + label:before, .shipping [type="radio"]:not(:checked) + label:before {top: calc(50% - 9px);left: 20px !important;}
.shipping [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {top: calc(50% - 5px);left: 24px;}


/* Fill-detail Start */
.fill-detail-from label {font: normal normal 600 16px Arquitecta;letter-spacing: 0px; opacity: .8; margin-bottom: 10px}
.fill-detail-from select, input, textarea {background: #000 0% 0% no-repeat padding-box;border: 1px solid 1px solid rgba(255, 255, 255, 0.4);border-radius: 2px;font: normal normal 600 14px Arquitecta;letter-spacing: normal;color: #fff;}
.fill-detail-from .weight {font: normal normal 500 16px Arquitecta;letter-spacing: 2.52px;color: #B9B9B9; position: absolute; right: 10px; top: 10px}
.fill-detail-from textarea {padding-top: 15px}
.fill-detail-from .photo-box {min-width: 240px; height: 240px;border: 1px solid #E0E0E0;border-radius: 2px;opacity: 1;}
.fill-detail-from .photo-box p {font: normal normal normal 16px/12px Arquitecta;letter-spacing: 0.96px;color: #B9B9B9;}
.nation {font: normal normal normal 16px Arquitecta;letter-spacing: 0.96px;color: #B9B9B9;}
.bottom-arrow {top: 10px; right: 10px; z-index: 1; color: #203032 !important;}
/* Fill-detail End */


/* Accordian */
.accordion-section .panel-default .panel-title a {    font: normal normal normal 16px/21px Arquitecta;
  letter-spacing: 0px;
  color: #000000 !important;
  text-transform: uppercase;
  opacity: 0.6;}
.accordion-section .panel-default .panel-title a:after {content: url('../img/up-arrow.svg');transform: rotate(0deg);float: right;}
.accordion-section .panel-default.collapsed .panel-title a:after {content: url('../img/up-arrow.svg'); transform: rotate(180deg);}
.accordion-section .panel-default {background: #fff; padding: 15px; margin-bottom: 15px; align-items: center; border-radius: 4px}
.accordion-section .panel-default .panel-body {font: normal normal normal 16px/19px Lato;letter-spacing: 0.32px;color: #203032;}
.counter span {font: normal normal 600 16px Arquitecta;letter-spacing: 0.8px;color: #203032;}
.counter {background: #FFFFFF;border: 1px solid #203032;border-radius: 2px; width: 115px}
/* Accordian */


/* Add Payment Method */
.payment-box {max-width: 220px;width: 100%;}
/* Add Payment Method */


.font-14 {font: normal normal normal 14px Arquitecta;letter-spacing: 0px;}
.font-16 {font: normal normal normal 16px Arquitecta;letter-spacing: 0px;}
.font-18 {font: normal normal normal 18px Arquitecta;letter-spacing: 0px;}
.font-20 {font: normal normal normal 20px Arquitecta;letter-spacing: 0px;}

/* Quiz Answer */
.answer-text h2 {font: normal normal 600 70px Arquitecta;letter-spacing: 0px;color: #25282A;}
.answer-text p {font: normal normal 600 24px Arquitecta;letter-spacing: 0px;color: #25282A;}
.answer-box .img-top {height: 300px;}
.answer-box {max-width: 328px;  width: 328px;  padding: 20px 0;  margin: 30px 0;  background: #f6f7f7;  border-radius: 4px;}
.plus-icon {font: normal normal normal 70px Arquitecta;letter-spacing: 0px;color: #25282A;}
.answer-box .customize-product-content {min-height: 138px; overflow:hidden}

/* Quiz Answer */

.container-fluid, .container {
  width: 90% !important;
}
.detail-slider .slick-arrow {
  visibility: hidden !important;
}
.detail-slider .slick-slider:hover .slick-arrow {
  visibility: visible !important;
}

.dashboard-order-tab .tab-content {
  border: none !important;
  width: 100%;
}

.dashboard-order-tab .tab-pane {
  width: 100%;
}

.custom-toast-success-class {
  background-color: #25282A !important;
}
/*Under Construction Page*/

.under_construction{text-align: center; padding: 120px 0; height:85vh;}
.under_construction h1{font-size: 40px; font-weight: 500;}
.under_construction p{color:#fff; font-size: 16px;margin: 30px 0; font-weight: normal;}
.under_construction a{font-size: 14px;  color: #fff;  background: #fff;  max-width: 384px;  padding: 12px;  text-align: center;  border-radius: 4px;  display: inline-block; width: 100%}

.title-40 { 
  text-transform: uppercase;
  font-size: 40px; font-weight: 400; color: #fff; }
.title-34 { font-size: 30px;
  color: #fff;
  letter-spacing: 0px;
  font-weight: normal;
  text-transform: uppercase; }
.overlay-titl { position: absolute; top: 50%; transform: translateY(-50%); left: 10%; }
.mc-banner-hero .hyaluro-bild { height: 430px; max-width: 100%; width: 100%; object-fit: cover; }
.mission-line { margin: 150px 0 250px 0; }
.mission-line p { max-width: 900px; margin: 0 auto; }
.alternative-item { background-color: #F5F5F5; padding: 40px 0; }
.alternative-item .alter-info h2 { font-weight: 500; margin-bottom: 20px; }
.alternative-item .alter-info { max-width: 420px; margin: 0 auto; }
.alternative-item .al-child:nth-child(even) { flex-direction: row-reverse; }
.alternative-item .al-child:nth-child(even) .alternative-bild { margin-left: auto; display: table; }
.alternative-item .al-child { margin-bottom: 140px; }
.alternative-item .al-child:last-child { margin-bottom: 0; }
.alternative-item .alternative-bild { max-width: 585px; }
.our-mission .mission-banner { background-size: cover; height: 688px; position: relative; }
.our-mission .mission-banner::before { content: ''; background-color: rgba(0, 0, 0, 0.50); position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.our-mission .mission-banner .inner-content { position: relative; z-index: 1; display: flex; flex-direction: column; height: 100%; justify-content: center; }
.our-mission .mission-banner .inner-content p { color: #fff; font-weight: 500; max-width: 900px; margin: 0 auto; }
.our-mission .mission-banner .inner-content .btn-support { margin-top: 35px; }
.accordion-custom .card-link { display: flex; align-items: center; justify-content: space-between; }
.accordion-custom .card-link .toggle-plus { transform: rotate(45deg); transition: all 0.3s ease-in; }
.accordion-custom .card-link.collapsed .toggle-plus { transform: rotate(0deg); }

.treatment ul { align-items: center; }
.treatment ul li img { min-height: 54px; object-fit: scale-down; }
.treatment.treatment-section { float: none; margin: 145px 0; }
.compare-bilds .img-comp-container .img-comp-img { height: 100%; }
.compare-bilds .img-comp-container .img-comp-img img { height: 100%; max-width: auto; object-fit: cover; max-width: inherit; }
.compare-bilds { margin-bottom: 256px; }
.img-comp-container { position: relative; height: 537px;max-width: 100%;  margin: 0 auto; }
.img-comp-img { position: absolute; width: 98%; height: auto; overflow:hidden;}
.img-comp-img img { display: block;}
.img-comp-slider { position: absolute; z-index:9; cursor: ew-resize; width: 40px; height: 40px; background-color: #fff; opacity: 1; border-radius: 50%; margin-left: -2px; }
.img-comp-slider::before { content: ''; background: url('../img/arw-right.png') no-repeat; height: 12px; width: 8px; position: absolute; left: 7px; top: 50%; transform: translateY(-50%) rotate(180deg); background-size: contain; opacity: 1; }
.img-comp-slider::after { content: ''; background: url('../img/arw-right.png') no-repeat; height: 12px; width: 8px; position: absolute; left: 24px; top: 50%; transform: translateY(-50%) rotate(0deg); background-size: contain; opacity: 1; }
.img-comp-img.img-comp-overlay { border-right: 4px solid #fff; }
.title-24 { font-size: 24px; line-height: normal; font-weight: 500; }
.treatment-info h3 { margin-bottom: 15px; }
.treatment-info p { max-width: 310px; }
.tab-all-content { margin: 100px 0; }
/* .custom-tabs { max-width: calc(100% - 40px); } */
.custom-tabs .nav-pills .nav-link.active { background-color: rgba(255, 255, 255, 0.1); color: #fff; font-size: 20px; font-weight: 400; overflow: hidden; }
.custom-tabs .nav-pills .nav-link { white-space: nowrap;position: relative; font-size: 20px; font-weight: 400; color: #fff; padding: 10px 25px; border-radius: 0;}
.custom-tabs .nav-pills .nav-link::before { content: ''; background-color: transparent; position: absolute; left: 0; top: 0; bottom: 0; width: 4px; }
.custom-tabs .nav-pills .nav-link.active::before { background-color: rgba(255, 255, 255, 0.2); }
.accordion-custom .card { border: 0; margin-bottom: 16px; }
.accordion-custom .card .card-header { border-bottom: 0; background-color: rgba(255, 255, 255, 0.1); }
.accordion-custom .card .card-body { background-color: rgba(255, 255, 255, 0.1); }
.mc-toggle-info { font-size: 20px; line-height: normal; width: 90%;}
.required-filed { color: #fff; font-size: 14px; line-height: 16px; }
.mc-title-main { margin-bottom: 45px; }
.title-20 { font-size: 20px; line-height: 24px; font-weight: 500; }
.contact-info { max-width: 300px; }
.contact-info p { font-size: 16px; line-height: 24px; font-weight: 400; margin-bottom: 20px; color: #fff; }
.contact-info a { text-decoration: underline; }
.contact-info a:hover { text-decoration: none; }
.mc-contact-details { margin-bottom: 65px; }
.form-content h4 { margin-bottom: 34px; }
.form-content label { font-size: 16px; color: #fff; font-weight: 500; margin-bottom: 5px; }
.form-content .form-control { padding: 11px 15px; height: 48px !important; }
.mb-25 { margin-bottom: 25px; }
.form-content textarea.form-control { height: auto !important; }

.custom-file-input { color: transparent; border: 0; opacity: 1; height: auto; }
.custom-file-input::-webkit-file-upload-button { visibility: hidden; }
.custom-file-input::before { content: 'Add file'; color: #fff; display: inline-block; background: transparent; border: 1px solid #fff; border-radius: 3px; padding: 14px 25px; outline: none; white-space: nowrap; -webkit-user-select: none; cursor: pointer; font-weight: 500; font-size: 16px; width: 333px; text-align: center; letter-spacing: 0; font-family: 'Arquitecta', sans-serif; transition: all 0.3s ease-in; }
.custom-file-input:hover::before { background-color: #fff; color: #fff; }
.custom-file-input:active { outline: 0; }
.btn-theme-dark { background: #fff; color: #fff; font-size: 16px; max-width: 328px; width: 100%; padding: 11px 25px; }
.space-top { margin-top: 34px; }
.tab-all-content .tab-content .tab-pane .h1 { margin-bottom: 27px; }
.mc-contact-details, .form-content { max-width: 680px; }
.form-control:focus { box-shadow: none; }
.form-control:-webkit-altofill { background-color: #000; }
.form-content select { background: #000 url(../img/drop-arrow.svg) no-repeat; background-position: 98% 50%; padding: 11px 40px 11px 25px !important; }

/* buttons */
.global-btn-border-white { text-align: center; padding: 10px; color: #fff; border: 1px solid #fff; border-radius: 4px; background: transparent; min-width: 264px; display: inline-block; margin-top: 20px; transition: all 0.3s ease-in; }
.global-btn-border-white:hover { background-color: #fff; color: #25282A; }


.tab-content .form-content .btn-theme-dark{max-width: 100%;}
.html-content p{margin-bottom:25px;line-height: 30px;}
.html-content img{height: auto;  width: 100%;  object-fit: cover;  max-height: 300px;}
/*Static page content styling*/

#pages-content p{margin-top: 20px;}
#pages-content ul{margin-top: 20px;}
#pages-content p img{width: auto;  margin: 10px auto 0;  max-height: 350px;  object-fit: cover;}

/*Product detail page slick slider arrow disabled */
.detail-slider .slick-disabled {display: none !important;}

#selectcountry, select.form-control{background-image: url('assets/img/drop-arrow.svg'); background-repeat: no-repeat; background-position: 96% center;}
.form-control-invert{
  filter: invert(1);
  color: rgba(255, 255, 255, 0.6);
}

.container {
  width: 100% !important;
}
.modal-heading {
  font-size: 30px;
  font-family: Arquitecta;
  font-weight: 500;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.welcome .form-group label{
  display: block;
}
.welcome .vue-country-select .dropdown{
  padding:7px;
}

.welcome .vue-country-select .dropdown-list{
  width: 397px;
  overflow-x: hidden;
}
.welcome #phone, .welcome #phoneNumber{width: 78%;
    display: inline-flex;}

.vue-country-select {
    float: left !important;
    height: auto !important;
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
  }

@media screen and (min-width: 320px) and (max-width: 1024px){
  .inside-wrapper {
    width: 100%;
  }
  .width-wraper{max-width: 100% !important;}
}

@media only screen and (max-width: 567px) {
  .quiz h2{font-size:22px;}
  .quiz .options p a{width: 100%;}
  #payment .d-flex{display: block !important;}
  #payment .fill-detail-from{margin: 0; padding: 0;}
  #payment .fill-detail-from .form-group{padding:0;}
  .payment-box{max-width: 100%;}

}
@media screen and (min-width: 320px) and (max-width: 767px){
  .container-fluid, .container {
    width: 100% !important;
  }

  .content_text {
    position: absolute;
    margin-left: 0;
    width: 20%;
    z-index: 99;
    text-align: center;
  }
  .product-detail .nav-item {
    width: 100%;
  }
  .product-detail .nav-tabs .nav-link {
    font-size: 18px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    border-right: 5px transparent;
  }

  .product-detail .nav-tabs .nav-link.active {
    border-bottom: none;
    border-left: 5px solid;
    border-radius: 4px;
    background: whitesmoke;
  }
  .home_category .box h3 {
    max-width: 100%;
  }
  .content_text h2 {
    max-width: 100% !important;
  }

  .responsive-treatment-title {
    font-size: 24pt !important;
    margin-bottom: 20px !important;
  }

  .home_category .box img {
    width: 100% !important;
    margin-bottom: 30px;
  }

  .home_category .box {
    padding: 30px 10px;
  }

  .banner .content {
    padding: 0 15px;
    left: 0 !important;
  }

  .banner .content h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .recommended {
    height: auto !important;
    background-size: cover !important;
  }

  footer .newsletter h3 {
    font-size: 24pt !important;
  }

  .img_box {
    height: auto !important;
  }

  .best_seller .prod_box {
    margin: 0 5px !important;
  }

  .search .nav-tabs .nav-link {
    margin-right: 0 !important;
    font-size: 14px !important;
    padding: 5px !important;
  }

  .best_seller .prod_box .new {
    width: 30px !important;
    height: 30px !important;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .inside-wrapper {
    width: 100%;
  }

  .badge-secondary {
    right: -10px !important;
    top: -10px !important;
  }

  .cart .cart_desc .act .act_btn{float: none; }
  .cart .cart_desc .act .act_btn a.wish{margin-left: 15px !important;margin: 8px;}
  .tab-width {
    width: auto !important;
  }
  .answer-item .reco-ans{display: block !important;}
}
@media only screen and (max-width: 991px) {
  .wishlist .prod_box{text-align: center;}
}
@media screen and (min-width: 320px) and (max-width: 567px){
  .shipping-tab .nav-link .div {
    width: 10px;
  }
  .cart .cart_desc .act .act_btn a.wish{width: 90%;
    margin-left: 0 !important;}
  .home_category .box{padding: 40px !important;}
  .home_category .box .desc{width: 100%}
  .home_category .box .see_all{margin: 0 auto;}
  .home_category .box figure{height: auto !important;}
  .product_box .inline-box label, .product_box .inline-box p{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
  .product_info .tab-pane tr td:first-child{width: auto !important;}
  footer .f_links ul li{display: block;}
  .f_links ul li:nth-child(1), .f_links ul li:nth-child(3){height: auto !important;}
  .f_links ul li:nth-child(1) a, .f_links ul li:nth-child(3) a{top: 0 !important;}
}


.width-wraper{max-width: 50%;text-align: justify;}
/*Static page content styling*/

#pages-content p{margin-top: 20px;}
#pages-content ul{margin-top: 20px;}
#pages-content p img{width: auto;  margin: 10px auto 0;  max-height: 350px;  object-fit: cover;}

/*Product detail page slick slider arrow disabled */
.detail-slider .slick-disabled {display: none !important;}

.best_seller .slick-dots {  bottom: -45px !important;}

/* Certificate */

.certificate {margin-bottom:30px;}
.certificate ul{display: flex;justify-content: center;flex-wrap: wrap;}
.certificate ul img{max-width: 210px; max-height: 130px;filter: grayscale(100%);}
.btn-plus {
    position: relative;
    font-weight: normal;
    font-size: 1.25rem;
}
.btn-plus:before, .btn-plus:after {
    width: 20px;
    height: 1px;
    display: block;
    position: absolute;
    content: "";
    background: #FFF;
    right: 15px;
    top: 20px;
}

.btn-plus.collapsed:after {transform: rotate(90deg);}

.card-btn {
  background: #25282A;
  color: #fff;
  border-radius: 4px;
  margin-top: 30px;
}

/* Payment css */
#multibancoModal .welcome{margin:0;}
#multibancoModal .welcome h4{color: #000;font-weight: bold;font-size: 16px;}
#multibancoModal .welcome p{font-size: 18px;}
#multibancoModal .welcome button{background: #000; color: #fff;}

#bankTransferModal .welcome{margin:0;}
#bankTransferModal .welcome h4{color: #000;font-weight: bold;font-size: 18px;}
#bankTransferModal .welcome p{font-size: 18px;}
#bankTransferModal .welcome button{background: #000; color: #fff;}

#payment label img { max-width: 60px; }
  .accordion-detail .card-header button{
    font: normal normal bold 28px/30px Arquitecta;
  }
  .accordion-detail {
    font: normal normal 300 24px/29px Arquitecta;
  }
  .accordion-detail > .card{
    margin: 1rem 0;
  }
.short-by .dropdown-menu{
    background: #FFF;
    border-radius: 0;
    text-transform: uppercase;
}
.short-by .dropdown-menu a{
  color: #000 !important;
}
.short-by .dropdown-menu a:hover{
  background-color: transparent;
}

#card-sidebar, #wishlist-sidebar {
  background: #FFF !important;
  width: 100%;
  max-width: 400px;
}

.account-tabs {
  padding: 30px 15px;
}

.account-tabs > .row {
  margin-left: -30px;
  margin-right: -30px;
}

.account-tabs > .row > * {
  padding-left: 30px;
  padding-right: 30px;
}

.account-tabs .tabs .account-navbar {
  margin-bottom: 1rem;
}  
@media (min-width:1024px){
  .account-tabs .tabs .account-navbar {
    min-height: 60vh;
    width: 300px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
}


.account-tabs .tabs .account-navbar .nav-link {
  padding: 10px 16px;
  border-left: 4px solid transparent;
  font-weight: 300;
  border-radius: 0;
  opacity: .8;
  font-size: 18px;
} 

.account-tabs .tabs .account-navbar .nav-link.active {
  background-color: transparent;
  border-color: #fff;
  font-weight: bold;
  opacity: 1;
}

.logout-btn {
  pointer-events: all;
}
